/* = = = = = setup = = = = =  */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* = = = = = general = = = = =  */

html {
  color: #2F4858;
  cursor: default;
  font-family: 'Raleway', sans-serif;
  font-size: 125%;
  /* text-align: center; */
}

section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  /* width: 100%; */
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
  /* font-weight: 300; */
  text-align: left;
}

a {
  color: #2F4858;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* = = = = = classes = = = = =  */

.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.imageWrapper {
  max-height: 100%;
  max-width: 100%;
}
.imageWrapper img {
  /* height: 100%; */
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

/* = = = = = specific = = = = =  */

header {
  background-color: #94AF9F;
  /* color: #DBE4C6; */
  font-weight: 700;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

main {
  background-color: #AEC2B6;
  width: 100%;
}

.hero {
  text-align: center;
}
.hero h1 {
  font-size: 3.2rem;
}

section:nth-child(even) {
  background-color: #DBE4C6;
}
section h2 {
  font-size: 2.25rem;
  margin-bottom: 10px;
}

main li {
  margin-bottom: 10px;
}
main li:last-child {
  margin-bottom: 0;
}

#about .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#about .wrapper .imageWrapper {
  margin-right: 20px;
}

footer {
  background-color: #94AF9F;
  bottom: 0;
  /* color: #DBE4C6; */
  font-weight: 400;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}
footer p {
  font-size: 0.75rem;
}

@media (max-width: 560px) {
  .hero .wrapper {
    width: 80%;
  }
  p {
    font-size: 1rem;
  }
  #about {
    height: 150vh;
  }
  #about .wrapper {
    flex-direction: column;
  }
  #about .wrapper .imageWrapper {
    margin-right: 0;
  }
}
